.container_login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    cursor: pointer;

    span {
        color: white;
    }
}

.btn {
    color: white;
    background-color: transparent;
    border: none;
    padding: 1rem;
}

.img_login {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}