.contain {
    margin: 100px auto;
    max-width: 900px;
    width: 100%;
    padding: 2rem;
    background-color: blueviolet;
    border-radius: 5px;

    form {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width: 90%;
            height: 50px;
            background-color: rgb(203, 186, 219);
            outline: none;
            border: none;
            border-radius: 5px 0px 0px 5px;
            color: rgb(59, 59, 59);
        }

        input::placeholder {
            color: rgb(32, 2, 60);
            opacity: .5;
        }

        button {
            background-color: rgb(32, 2, 60);
            color: white;
            padding: .7rem;
            width: 10%;
            font-size: 1.5rem;
            border: none;
            border-radius: 0px 5px 5px 0px;
        }
    }
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;

    span {
        color: rgb(61, 101, 0);
    }
}


.taskList {
    margin-top: 20px;
    padding: 1rem;
    background-color: rgb(32, 2, 60);
    border-radius: 5px;
    cursor: pointer;
}

.taskList p {
    margin-bottom: 20px;
    color: white;
    font-weight: bolder;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.container_edite {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;

    span {
        color: rgb(237, 187, 3);
        font-weight: 700;
        margin-left: 5px;
    }

    .container_btn {
        display: flex;
        align-items: center;
    }

    button {
        background-color: transparent;
        border: none;
        padding: .4rem;
        width: 60px;
        color: white;
        border-radius: 5px;
    }
}

.btn_remove {
    display: flex;
    align-items: center;
}

.btn_delete {
    background-color: transparent;
    border: none;
    padding: .4rem;
    width: 60px;
    color: white;
    border-radius: 5px;
}

.vipContainer {
    margin: 5px auto;
    max-width: 900px;
    width: 100%;
    padding: 2rem;
    background-color: blueviolet;
    border-radius: 5px;

    h3 {
        color: rgb(237, 187, 3);
    }
}

.time {
    margin-top: 15px;
    display: flex;
    align-items: center;

    span {
        color: white;
        margin-left: 5px;
    }
}